html {
	font: italic bold 12px/30px Georgia, serif;
}

body {
    background-image: url(https://github.com/jordanExplore/Explore_resources/blob/master/triangles.jpg?raw=true);
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-attachment: fixed;
}