html {
	font: italic bold 12px/30px Georgia, serif;
	background-image: url("{{site.baseurl}}/public/images/1.jpg?raw=true");
}

body {
   background-image: url("{{site.baseurl}}/public/images/1.jpg?raw=true");
}