html {
	font: italic bold 12px/30px Chalkduster, fantasy;
}

body {

    background-image: url(https://github.com/robo-jordo/image/blob/master/3.jpg?raw=true);
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-attachment: fixed;
}