<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">A little bit about me.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1_3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1995-2013</h4>
                                    <h4 class="subheading">Johannesburg, South Africa</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I was born and raised in Johannesburg, South Africa. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2_5.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014-2017</h4>
                                    <h4 class="subheading">University of Cape Town - Bsc(Eng) mechatonics Hons.</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">After completing High School, I moved from Johannesburg to Cape Town where I attended the University of Cape Town. At UCT I studied a Bsc(Eng) in Mechatronics. I was on the Dean's merit list for my first three years and graduated my fourth year with honours in distinction. </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2_2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>April 2018-September 2018</h4>
                                    <h4 class="subheading">Explore Data science</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">After graduating from UCT, I worked at Explore Data Science in Woodstock, Cape Town. As a part of the Explore team I created content to teach students at the data science academy various digital skills. These digital skills included python, machine learning and Java. My other main responsibility was to create a web-app to process written documentation submitted by students. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4_2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>September 2018</h4>
                                    <h4 class="subheading">Northwestern University - Masters in Robotics</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I then started a M.S. in robotics at Northwestern University, Chicago. As part of the masters I learnt various skills related to robotics including ROS. I am also involved in various projects as part of courses and that I have pursued on my own time. These projects can be found in my portfolio above.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>More
                                    <br>Coming 
                                    <br>Soon</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>